# Build directories
build/
target/
debug/
release/
dist/
*.spec

# PyInstaller temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Qt-specific
*.user
*.autosave
moc_*
ui_*
qrc_*
Makefile*

# IDE-specific
.vscode/
.idea/
*.swp
*.swo

# Rust-specific
Cargo.lock
**/*.rs.bk

# OS-specific
.DS_Store
Thumbs.db

# Python-specific
.env
.cache
pip-wheel-metadata/
*.egg-info/
*.egg

# Joblib and other serialized model files
*.joblib
*.pkl

# Generated assets and logs
*.png
*.log

# Spotify-specific
.token.*
