# Build directories
build/
target/
debug/
release/

# Qt-specific
*.user
*.autosave
moc_*
ui_*
qrc_*
Makefile*

# IDE-specific
.vscode/
.idea/
*.swp
*.swo

# Rust-specific
Cargo.lock
**/*.rs.bk

# OS-specific
.DS_Store
Thumbs.db
.env
.cache

__pycache__/
